<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application" %>

<div class="graph-page">
  <div><%= link_to "Back", root_url, :class => 'btn btn-primary btn-graph' %>
  <div id="container"></div>

  <script>
    var $container = $("#container")

    new Highcharts.Chart({
      chart: {
        backgroundColor: '#eee',
        height: 700,
        renderTo: 'container'
      },
      title: { text: '' },
      yAxis: [{
          title: { text: 'Reading' },
          min: 0,
          plotLines: [
            {
              color: '#FF0000',
              width: 2,
              value: <%= @run.account.high_threshold %>
            },
            {
              color: '#0000FF',
              width: 2,
              value: <%= @run.account.low_threshold %>
            }
          ]
      }],
      xAxis: {
        title: { text: 'Minutes' },
        min: 0
      },
      series: [
        {
          name: "Run",
          pointInterval: 1,
          pointStart: 0,
          data: [<%= @run.data %>]
        }
      ]
    });
  </script>
</div>
