<!DOCTYPE html>
<html>
<head>
  <title>LaundryAlert</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="center">
  <h3 class="no-margin"><%= content_for(:title) %></h3>
  <hr>

  <%= yield %>
</div>

<%= javascript_include_tag "application" %>

</body>
</html>
