<%= content_for :title, "Your Info" %>

<div class="info">
  <h4>Phone</h4>
  <%= @account.display_phone %>
</div>

<div class="info">
  <h4>Access Token</h4>
  <%= @account.access_token %>
</div>

<div class="info">
  <h4>Core ID</h4>
  <%= @account.core_id %>
</div>

<div class="info">
  <h4>Runs</h4>
  <ul style="list-style:none; margin: 0; padding: 0;">
    <% @account.runs.by_date.each do |run| %>
      <li><%= link_to run, run %></li>
    <% end %>
  </ul>
</div>

<%= link_to "Edit Info", edit_account_path, :class => 'btn btn-primary' %>
